healthCommunityNotes.tsv
rawCommunityNotes.tsv
englishHealthCommunityNotes.tsv
communityNotesFinal.tsv
ratings.tsv
communityNotesFinalNoRatings.tsv
communityNotesFinalWithRatings.tsv
ratings-00009.tsv
noHealthCommunityNotes.tsv